body {
   background-color: #efefef; 
   margin: 0;
   padding: 0;
   font-family: 'Open Sans', sans-serif;
   line-height: 1.5em;
}


#topBar {
    background-color: #fff;
    color: #262626;
    display: flex;
    justify-content: flex-end;
    padding: 0 40px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 15px;
}

#navigation {
    list-style: none;
}

#navigation a {
    color: #262626;
    text-decoration: none;
}

#navigation a:hover {
    color: #FF3B3f;
}

#navigation li {
    display: inline-block;
    margin-right: 10px;
}

#mainContent {
    display: flex;
    justify-content: center;
}

#mainName {
    font-size: 30px;
    padding-bottom: 15px;
}

#details {
    margin-left: 20px;
    width: 700px;
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid lightgray;
    margin-top: 20px;
    font-size: 12px;
    padding-top: 20px;

}
